.addToPartOne-one-two{
    
    background-color: #1695A3;
    color:#FFFFFF;
}







.addToPartOne-three{

    color:#EB7F00;
    font: size 40px;
    font-weight:bold;
}






.addtoPartTwo{

    text-align:center;
    color:#FFFFFF

}






.no-underline{
    text-decoration:none;
}